@inject IJSRuntime JSRuntime

<a class="nav-link py-1 px-0 h6" href="" data-bs-toggle="modal" data-bs-target="#feedbackModal"><i class="fa-solid fa-bug"></i></a>

<div class="modal fade" id="feedbackModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="feedbackModalpLabel">Feedback</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="feedback" class="form-floating" name="feedback" data-netlify="true">
                <div class="modal-body">
                    <div class="form-floating">
                        <textarea id="questionTextarea" class="form-control text-dark my-2" name="question" placeholder="Leave the full question here" style="height: 100px"></textarea>
                        <label class="text-dark" for="questionTextarea">Question</label>
                    </div>
                    <hr />
                    <div class="form-floating">
                        <textarea id="correctQuestion" class="form-control text-dark my-2" name="correctQuestion" placeholder="Leave the correct question here" style="height: 100px"></textarea>
                        <label class="text-dark" for="correctQuestion">Correct Question</label>
                    </div>
                    <div class="form-floating">
                        <input id="correctAnswer" class="form-control text-dark" name="correctAnswer" placeholder="Leave the correct answer here" />
                        <label class="text-dark" for="correctQuestion">Correct Answer</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary ms-auto">Send Feedback</button>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    public Task<IJSObjectReference> FeedbackModule =>
            JSRuntime.InjectJsObjectReference("import", "./js/feedback.js");

    protected override async Task OnInitializedAsync()
    {
        IJSObjectReference feedbackModule = await FeedbackModule;

        await feedbackModule.InvokeVoidAsync("setRef", DotNetObjectReference.Create(this));

        await base.OnInitializedAsync();
    }

    [JSInvokable]
    public void FeedbackSubmittedSuccessfully()
    {
        Console.WriteLine("Form Submitted");
    }
}
